<%- include('partials/header') -%>
<h1>Home</h1>
<p><%=home_text%></p>

<div class="post-container">
    <% posts.forEach(function(post){ %>
        <div class="post">
            <h1><%=post.title %></h1>
            <p><%=post.body %></p>
        </div>
        <% }); %>
</div>


<%- include('partials/footer') -%>